/*-------  ここから共通のCSS  --------*/
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  float:left;
  margin:10px;
}

a {
  text-decoration: none;
}

body {
  -webkit-font-smoothing: antialiased;
}

/*-------  ここまで共通のCSS  --------*/
.header-right{
  float:right;
}
.header-child{
  float:left;
  margin-top:5px;
  margin-left:650px;
  margin-right:46px;
}
.header-logo{
  font-size:20px;
  padding:10px;
  margin-left:40px;
  color:#585858;
  float:left;
  
}
.corp-name{
  padding-top: 30px;
  background-color: #ff8c00;
  height: 300px;
}
.vision{
  text-align: center;
  padding-top: 60px;
}
.mission{
  text-align: center;
  padding-bottom: 80px;
  padding-top: 40px;
}

.topic1{
  padding-top:30px;
  font-size:25px;
}
.topic2{
  padding-top:15px;
  font-size: 15px;
}
.header{
  background-color:white;
  position:fixed;
  width: 100%;
}

.product{
  height: 300px;
  background-color: #ff8c00;
}

.member{
  height: 1000px;
  background-color: blue;
}

.form{
  height: 300px;
  background-color: #ff8c00;
  text-align: center;
}
.about{
  height: 300px;
  text-align: center;
}

.formtext{
  padding-top: 30px;
}
.form-mail{
  padding-bottom: 30px;
}
.form-message{
  padding-bottom: 30px;
}

